body {
    margin: 0px;
}

.linha {
    width: 100%;
    height: 33.333333vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linha1 {
    height: 200px;
    width: 200px;
}

.linha3 {
    width: 100%;
    height: 100%;
}

.quadrado_amarelo {
    height: 50px;
    width: 50px;
    background-color: yellow;
}

.circulo {
    background-color: white;
    height: 65px;
    width: 65px;
    border-radius: 100%;
}

#q1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#q2 {
    display: flex;
    justify-items: center;
    align-items: center;
}

#q6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(8, 165, 204);
}