.container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
    height: 100%;
}

.coluna {
    /*display: flex;
    flex-direction: column;*/
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    width: 90%;
    height: 100vh;
}

.coluna div {
    height: 100%;
    width: 100%;
    margin: 10px, 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

body {
    margin: 0px;
}

.coluna-interior {
    background-color: rgb(32, 141, 204);
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}