.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
}

.coluna {
    padding: 20px;
    height: 100%;
}

thead tr:hover {
    color: blue;
}

#div3 {
    height: 500px;
    width: 100%;
    background-color: blue;
}