.square {
    height: 200px;
    width: 200px;
    background-color: lightblue;
}

button {
    cursor: pointer;
}

#contas {
    display: flex;
    flex-direction: row;
}

#contas div {
    width: 100%;
}